@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Supermercado+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #f8f9fa;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: '';
  border: 1em solid #572700;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader::before {
  animation-delay: .5s;
}

@keyframes loader {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  padding: 12px 0;
}

.logo h1 {
  font-family: "Supermercado One", sans-serif;
  font-size: 20px;
  padding: 8px;
}

.nav-links li {
  list-style: none;
}

.carousel {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  font-family: "Dongle", sans-serif;
  font-size: 1.6em;
  color: dimgrey;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.burger {
  display: none;
}

.close__menu {
  display: none;
}

.burger div {
  display: none;
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 5px;
}

.burger__menu {
  display: none;
  position: absolute;
  top: 70px;
  left: -0px;
  width: 100%;
  z-index: 99;
  background-color: #f8f9fa;
}

.burger__links li {
  list-style: none;
  padding: 8px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.burger__links li a:hover {
  color: #381a01;
}

.burger__links li a {
  font-family: "Dongle", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: dimgrey;
  text-decoration: none;
}

.burger__links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.current_nav a {
  color: #381a01;
}

.bg-hero-image {
  background-color: #f8f9fa;
}

.item img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.about__section {
  width: 100%;
  background-color: #f8f9fa;
  padding: 4.5em 0em;
}

.about_container {
  width: 100%;
  min-height: 200px;
}

.about__section h1 {
  font-family: "Dongle", sans-serif;
  width: 90%;
  font-size: 2.8em;
  font-weight: 700;
  color: black;
  text-align: left;
  line-height: 2.4em;
  margin: 0 auto;
}

.about__section p {
  font-family: "Ubuntu", sans-serif;
  width: 90%;
  font-size: 0.95em;
  color: black;
  text-align: left;
  margin: 0 auto;
  height: 200px;
  background-color: rgba(197, 197, 197, 0.349);
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.event__section {
  background-color: #572700;
  padding-bottom: 3em;
}

.event_cart {
  background-color: white;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.event__section h1 {
  font-family: "Dongle", sans-serif;
  width: 90%;
  font-size: 2.8em;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 2.4em;
  margin: 0 auto;
  padding-top: 1em;
}

.event_item {
  width: 90%;
  height: 900px;
  padding: 1em 0;
  border-radius: 20px;
  margin: 0 auto;
}

.event_item img {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px 20px 0px 0px;
}

.cart_text {
  padding: 8px 20px;
}

.cart_text h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
}

.cart_text h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9em;
  line-height: 2.2em;
  color: dimgrey;
}

.cart_text p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  text-align: center;
  line-height: 2em;
}

.artikel__section {
  background-color: #572700;
  padding-bottom: 3em;
}

.artikel_cart {
  background-color: white;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.artikel_item {
  width: 90%;
  height: 700px;
  padding: 1em 0;
  margin: 0 auto;
}

.artikel_item img {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px 20px 0px 0px;
}

.artikel__section h1 {
  font-family: "Dongle", sans-serif;
  width: 90%;
  font-size: 2.8em;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 2.4em;
  margin: 0 auto;
  padding-top: 0.5em;
}

.artikel_text {
  padding: 8px 20px;
  text-align: left;
}

.artikel_text h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
}

.artikel_text h2:hover {
  text-decoration: underline;
}

.artikel_text h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9em;
  line-height: 2.2em;
  color: dimgrey;
}

.artikel_text p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8em;
  line-height: 2em;
}

.galeri__section {
  width: 100%;
  background-color: #f8f9fa;
}

.galeri__container {
  max-width: 1068px;
}

.wide__pictures {
  max-width: 1068px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 5em;
}

.galeri__lebar {
  width: 33.3%;
  height: 350px;
  padding: 5px;
}

.galeri__lebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeri__item {
  width: 20%;
  height: 350px;
}

.galeri__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeri__text {
  width: 400px;
  font-family: "Dongle", sans-serif;
  font-size: 2.8em;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  padding: 0.8em 0;
  line-height: 2em;
}

.footer__section {
  width: 100%;
  background-color: #572700;
}

footer {
  max-width: 1068px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.contact__vihara {
  width: 100%;
  padding-top: 6em;
  margin-right: 4em;
}

.contact__vihara h1 {
  font-family: "Dongle", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: white;
  letter-spacing: 4px;
}

.contact__vihara p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  color: white;
  padding: 2em 1em 2em 0;
  line-height: 1.8em;
}

.contact__vihara a {
  text-decoration: underline;
}

.contact__vihara a:hover {
  color: white;
}

.tulisan__email {
  color: #fab651;
}

.tautan__vihara {
  width: 100%;
  padding-top: 6em;
}

.tautan__vihara h1 {
  font-family: "Dongle", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: white;
  letter-spacing: 4px;
}

.tautan__vihara a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fab651;
  padding: 1.8em 1em 0em 0em;
  line-height: 1.8em;
  width: 200px;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  letter-spacing: 1.5px;
}

.tautan__vihara a:hover {
  color: white;
}

.medsos__vihara {
  width: 100%;
  padding-top: 6em;
}

.medsos__vihara h1 {
  font-family: "Dongle", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: white;
  letter-spacing: 4px;
}

.fa {
  margin-top: 0.9em;
  padding: 15px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  margin: 0 10px;
}

.fa-youtube {
  background-color: #bb0000;
  color: white;
}

.fa-times {
  padding: 0;
  margin: 0;
  font-size: 30px;
  cursor: pointer;
}

.lower__footer {
  width: 100%;
  height: 80px;
  background-color: #381a01;
  color: white;
}

.lower__container {
  max-width: 1068px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.lower__container p {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.95em;
}

.lower__nav a {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.95em;
  color: white;
  padding: 0 10px;
  cursor: pointer;
}

.lower__nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1600px) {
  .nav-links {
    width: 55%;
  }

  .item img {
    height: 90vh;
  }
}

@media screen and (max-width: 1200px) {
  .nav-links {
    width: 55%;
  }

  .item img {
    height: 80vh;
  }

  .carousel {
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
  }

  .event_item {
    width: 700px;
    height: 1068px;
  }

  .artikel_item {
    width: 700px;
    height: 1068px;
  }

  footer {
    flex-wrap: wrap;
    min-height: 750px;
  }

  .contact__vihara {
    width: 40%;
    padding-top: 6em;
  }

  .tautan__vihara {
    width: 40%;
    padding-top: 6em;
  }

  .medsos__vihara {
    width: 88.2%;
    padding-top: 0;
    padding-bottom: 4em;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 12px;
  }

  .nav-links {
    display: none;
  }

  .burger {
    display: block;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
  }

  .burger div {
    display: block;
  }

  .burger:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .item img {
    height: 40vh;
  }

  .carousel {
    width: 400px;
  }

  .event_item {
    width: 100%;
    height: 880px;
  }

  .artikel_item {
    width: 100%;
    height: 750px;
  }

  .galeri__lebar {
    width: 45%;
    height: 250px;
    padding: 5px;
  }

  footer {
    flex-wrap: wrap;
    min-height: 1000px;
  }

  .contact__vihara {
    width: 80%;
    padding-top: 4em;
    margin-right: 0;
  }

  .tautan__vihara {
    width: 80%;
    padding-top: 2em;
  }

  .medsos__vihara {
    width: 80%;
    padding-top: 2em;
    padding-bottom: 4em;
  }

  .lower__container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .galeri__lebar {
    width: 90%;
    height: 250px;
    padding: 5px;
  }

  .lower__container {
    flex-wrap: wrap;
    padding: 0;
  }

  .lower__container p {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
  }

  .lower__nav {
    width: 100%;
    text-align: center;
  }

  .lower__nav a {
    font-size: 0.8em;
  }

  .map__vihara {
    width: 330px;
  }

  footer {
    height: 1100px;
  }

  .lower__container {
    width: 80%;
  }

  .lower__nav {
    line-height: 1.5em;
  }
}

@media screen and (max-width: 380px) {
  .map__vihara {
    width: 250px;
  }
}
